<!DOCTYPE html>
<html lang="en">
<head>
    <% include _head.ejs %>
</head>
<body>

    <div class="container-fluid">
		<div id="postModal" style="display:none">
			<div id="deleteConfirm">
			</div>
		</div>
        <div class="row">
            <div class="col-md-9">
                <h2>
                	<%= post.title %>
                </h2>
                <p>
                	Posted by: <strong><%= post.author %></strong>
                </p>         
                <p>
                	Tags: <% tags.forEach(function(tag){ %>
                	 	<span class="btn btn-xs btn-default">
                	 		<%= tag.name %>
                	 	</span>
                	<% }); %>
                </p>
            </div>
            <div class="col-md-3">
              <% if(isLoggedIn){ %>
                <div class="row">
                  <div class="col-md-8">
                    <h5 style="float:right">Hi <%= user.firstname %>!</h5>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-warning" href="/signout">Logout</a>
                  </div>
                </div>
              <% } %> 
            </div>
        </div>
        <div class="row">

            <div id="postContent">
            	<% include _markedContent.ejs %>
            </div>

            <% if(user){ %>
                <% if( user.email === post.email ){ %>
                    <a href="/posts/<%= post.id %>/edit" class="btn btn-primary">Edit Post Content</a>
                <% } %>
            <% } %>
            <a class="btn btn-default" id="updateVote"><span class="glyphicon glyphicon-thumbs-up"></span><span id="voteNum"><%= post.vote || 0 %></span></a>
            <button class="btn btn-link"><a href="/">Back</a></button>

            <% if(user){ %>
                <% if( user.email === post.email ){ %>
                    <button id="deletePostBtn" class="btn btn-danger">Delete Post</button>
                <% } %>
            <% } %>
             
            <hr>
            <% if(user){ %>

            <!-- comment -->

                
    			<% include _commentform.ejs %>           	
                
                <hr>
                <h3 commentsCount="<%= post.commentsCount %>" >Comments(<%= post.commentsCount %>):</h3>
                
                <div id="allcomments">
    	        	<% comments.forEach(function(comment){ %>
    	        	<div class="singleComment" commentId="<%= comment.id %>">
    	        		<!-- comment modal (display none by default)-->
    			        <div class="commentModal" style="display:none">
    						<div class="deleteCommentConfirm">
    							<p>Are you sure to DELETE comment?</p>	
    							<button name="yes" class="deleteYes btn btn-danger btn-sm">Delete</button>
    							<button style="display:inline-block" name="no" class="btn btn-default btn-sm">Cancel</button>
    						</div>
    					</div>
    					<!-- comment content -->
    	        		<p><%= comment.content %><p>
    	        		<h5>Posted by: <%= comment.author%></h5>
    	        		<a href="/posts/<%= post.id %>/comments/<%= comment.id %>/edit" class="btn btn-link">edit</a>
    	        		<button class="btn btn-link deleteCommentBtn">delete</button>
    	        	</div>
    	        	<% }); %>
                </div>

            <% }else{ %>
                <a class="btn btn-warning" href="/">Login to view comments</a>
            <% } %>
            
        </div>
    </div>

     <% include _footer.ejs %>
</body>
</html>